	
	<table width=60% align="Center">
		<tr>
			<td align="Center">
				<a href="/#/"><img src="/images/CRIPTOTRANSFER_logo.jpg" border=0 width="300" height="298"></a>
			</td>
			<td align="Center">
				<img src="/images/Bleutrade_Logo.png" border=0>
			</td>
		</tr>
		<tr>
			<td colspan=2 align="Center"><h3>O <strong>Sistema CriptoTransfer</strong> ainda não está integrado à bolsa virtual <strong>Bleutrade</strong>.</h3>
			<h3>Quando a integração estiver completa os <strong>Operadores CriptoTransfer</strong> poderão, dentro da experiência deste sistema, operar a compra e venda de qualquer criptomoeda listada nesta bolsa.</h3>
			<h3>Acompanhe a evolução dos trabalhos de integração com a <strong>Bleutrade</strong> através deste card no Trello:</h3>
			<h2><a href="https://trello.com/c/ebRUGq2i/25-integracao-bleutrade">https://trello.com/c/ebRUGq2i/25-integracao-bleutrade</a></h2></td>
		</tr>
	</table>
	
	
		
	<p>&nbsp</p>
	<h2 align="Center"><a href="/#/">Voltar para Início</a></h1>