	<table width=60% align="Center">
		<tr>
			<td align="Center">
				<a href="/#/"><img src="/images/CRIPTOTRANSFER_logo.jpg" border=0 width="300" height="298"></a>
			</td>
			<td align="Center">
				<img src="/images/FoxBit_Logo.jpeg" border=0>
			</td>
		</tr>
	</table>
	
	<h1 align="Center">Realizar Depósito</h1>
	<h3 align="Center">Escolha uma moeda para realizar o depósito:</h3>
	<h1 align="Center"><a href="/#/depositar-brl-foxbit">REAL (BRL)</a></h1>
	<h1 align="Center"><a href="/#/depositar-btc-foxbit">BITCOIN (BTC)</a></h1>
    <p>&nbsp</p><hr>
	<h3 align="Center">Ajude a cocriar esta funcionalidade interagindo com a equipe do projeto através do Trello:</h3>
	<h3 align="Center">
		<a href="https://trello.com/c/15HX8YI6/10-deposito-foxbit">https://trello.com/c/15HX8YI6/10-deposito-foxbit</a>
	</h3>
    <hr>
	<h2 align="Center"><a href="/#/foxbit">Voltar para menu FoxBit</a></h2>
	<h2 align="Center"><a href="/#/">Voltar para Início</a></h2>
