
	<script src="services/ctFoxBitService.js"></script>
	<script src="controllers/ctFoxBitController.js"></script>
	
	<p align="Center">
		<img src="/images/CRIPTOTRANSFER_logo.jpg" border=0 width="300" height="298">
	</p>
	
	<div class="container" ng-controller="ctIndexController">

		<h1 align="Center">Funções disponíveis:</h1>
		<h1 align="Center"><a href="/#/depositarfoxbit">Depositar Reais (BRL) ou Bitcoins (BTC)</a></h1>
		<h1 align="Center"><a href="/#/comprafacilfoxbit">Painel de Compra Fácil</a></h1>
		<h1 align="Center"><a href="/#/bookfoxbit">Book de Operações</a></h1>

	</div>