	<table width=60% align="Center">
		<tr>
			<td align="Center">
				<a href="/#/"><img src="/images/CRIPTOTRANSFER_logo.jpg" border=0 width="300" height="298"></a>
			</td>
			<td align="Center">
				<img src="/images/FoxBit_Logo.jpeg" border=0>
			</td>
		</tr>
	</table>
	
	<h1 align="Center">Escolha uma das opções abaixo:</h1>
	<h1 align="Center"><a href="/#/comprafacilfoxbit">Painel de Compra Fácil</a></h1>
	<h1 align="Center"><a href="/#/bookfoxbit">Ofertas (Book)</a></h1>
	<h1 align="Center"><a href="/#/depositarfoxbit">Depositar na FoxBit</a></h1>
	<p>&nbsp</p><hr>
	<h3 align="Center">Ajude a cocriar esta funcionalidade interagindo com a equipe do projeto através do Trello:</h3>
	<h3 align="Center">
		<a href="https://trello.com/c/FW3mG58g/5-integracao-foxbit">https://trello.com/c/FW3mG58g/5-integracao-foxbit</a>
	</h3>

	<hr>
	<h2 align="Center"><a href="/#/">Voltar para Início</a></h2>