	
	<p align="Center">
		<a href="/#/"><img src="/images/CRIPTOTRANSFER_logo.jpg" border=0 width="300" height="298"></a>
	</p>

	<table align="Center" width="70%">
		<tr>
			<td align="Center">
				<h1><font color="Red">Protótipo</font> do Sistema CriptoTransfer</h1>
				<h3>Este é o protótipo do sistema de operação de criptomoedas da <strong>CriptoTransfer</strong>.</h3>
				<h3>Se você está acessando esta página é porque está conectado de alguma forma a NÓS, seja como investidor, colaborador ou interessado em organizações prósperas, criptomoedas e blockchain.</h3>
				<h3>Navegue pelo sistema, analise-o, critique-o, diga o que as telas deveriam mostrar, ajude a cocriar a experiência dos usuários do <strong>Sistema CriptoTransfer!</strong></h3>
				<p>&nbsp</p>
				<h3>Interaja com os criptotransfers pelo <a href="http://www.criptotransfer.com/slack">Slack</a>.</h3>
				<h3>Acompanhe o andamento das atividades do projeto pelo <a href="https://trello.com/b/TCcR4e0p/sistema-criptotransfer">Trello</a>.</h3>
				<h3>Acesse o site da <a href="http://www.criptotransfer.com"><strong>CriptoTransfer</strong></a>.</h3>
				<p>&nbsp</p>
				<h1><a href="/#/">Entrar agora</a></h1>
			</td>
		</tr>
	</table>